/* body {
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
} */
/* General styles for the application */
body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to right,
    #615d66, 
    #c3c6c9
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.gradient-custom {
  background: linear-gradient(to right, #615d66, #b9bdc3);
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #f8f9fa;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

/* .form-outline input[type=number] {
  -moz-appearance: textfield;
} */

.form-outline input[type=number]::-webkit-outer-spin-button,
.form-outline input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
